@using RecipeApp.Application.DTOs.RecipeDTO
@model IEnumerable<RecipeResponse>
@{
	ViewBag.Title = "Recipes";
}
<h1>Recipes</h1>
<div class="container mt-4">
    <a href="/recipe/create" class="btn-primary btn mb-2">Dodaj przepis</a>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Przepis 1 -->
        @foreach(RecipeResponse recipe in Model)
        {
            <div class="col">
                <a class="card h-100" href="~/recipe/details/@recipe.ID">
                    <img src="@recipe.ImageUrl" class="card-img-top img-fluid" style="height:200px; object-fit:cover;" alt="@recipe.Name">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text">Rating</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Czas przygotowania: @recipe.PreparationTime min</small>
                    </div>
                </a>
            </div>
        }
</div>